<!-- BEGIN: LIST -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pl-4 pt-5 content">
                <div class="detail">
                    <p  style="display: inline;">Thời Gian: </p>
                    <i class="far fa-clock"></i>
                    <span id="create-time" class="time">2020-10-08</span>
                </div>
                <div class="ml-3 mt-5">
                    <img src="coding101/../admin/{LIST.career_img}" alt="">
                    <h2 class="pt-3">{LIST.career_name}</h2>
                    {LIST.career_detail}
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .content img{
        max-width: 1000px;
    }
    .bread{
        font-size: 14px;
    }
    .detail{
        font-size: 14px;
        color:rgb(156, 168, 168)
    }
</style>
<!-- END: LIST -->