<!-- BEGIN: ORI -->
<section id="services">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="text-uppercase section-heading">Hướng Nghiệp</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
    </div>
    <div class="row">
        <!-- BEGIN: CARD -->
        <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                  <div class="card-img"><img src="coding101/../admin/{CARD.career_img}"  alt=""></div>
                  <h5 class="card-title mt-3 text-center">{CARD.career_name}</h5>
                  <input type="button" onclick="window.location.assign('career&id={CARD.career_id}')"  value="Xem tiếp" class="btn btn-primary col ">
              </div>
            </div>
          </div>
        <!-- END: CARD -->
    </div>
</div>
</section>
<style>
    .card-img img{
        height: 370px;
        width: 300px
    }
</style>
<!-- END: ORI -->