<!-- BEGIN: LAYOUT -->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <link rel="icon" href="../../../assets/logo/logo.ico">
  <meta name="author" content="">
  <script src="https://kit.fontawesome.com/7c67c69820.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/7c67c69820.js" crossorigin="anonymous"></script>
  <script src="../../assets/js/jquery.min.js"></script>
  <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../assets/js/smoothproducts.min.js"></script>
  <script src="../../assets/js/theme.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/classic/ckeditor.js"></script>
  <script src="https://cdn.tiny.cloud/1/kbya0q6inql340v03n8uibux8qrtns8dc7yzdjarlj8em2ep/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  <link rel="stylesheet" href="../../assets/css/layout.css">

  <title>ADMIN</title>

  <!-- Custom fonts for this template-->
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background: linear-gradient(to right, rgb(74, 86, 197),rgb(84, 79, 148));  "> 
     
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../../createQuiz/list/">
         <div class="sidebar-brand-icon ">
          <img src="../../assets/img/logo.png" height="40px" width="40px" alt="">
        </div>
        <div class="sidebar-brand-text">Coding 101</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Create Quiz
      </div>

      <!-- Nav Item - Pages Collapse Menu -->

      <li class="nav-item" id="category">
        <a class="nav-link" href="../../createQuiz/list/">
          <i style="margin-right: 4%;" class="fas fa-grin-squint-tears"></i>
          <span>Quiz</span></a>
      </li>
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Create Post
      </div>
      <li class="nav-item"  id="reservation">
        <a class="nav-link" href="../../createPost/list/">
          <i style="margin-right: 4%;" class="fas fa-paste"></i>
          <span>Post</span></a>
      </li>
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Create Career
      </div>

      <!-- Nav Item - Pages Collapse Menu -->

      <li class="nav-item" id="category">
        <a class="nav-link" href="../../createCareer/list/">
          <i style="margin-right: 4%;" class="fas fa-address-card"></i>
          <span>Career</span></a>
      </li>
      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        Mail
      </div>


      <!-- Heading -->
      
      <!-- Nav Item - Pages Collapse Menu -->

      <li class="nav-item" id="category">
        <a class="nav-link" href="../../sendMail/send/">
          <i style="margin-right: 4%;" class="fas fa-envelope"></i>
          <span>Send Post</span></a>
      </li>
      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        Create Question
      </div>
      
      <li class="nav-item"  id="reservation">
        <a class="nav-link" href="../../createQuestion/list/">
          <i style="margin-right: 4%;" class="fas fa-question"></i>
          <span>Question</span></a>
      </li>

      <div class="abc">
        <hr class="sidebar-divider">
        <div id="rol_2_hide">
          <div class="sidebar-heading">
            Account Management
          </div>
          <li class="nav-item"  id="delAcc">
            <a class="nav-link" href="../../delAcc/delaccount/">
              <i style="margin-right: 4%;" class="fas fa-user"></i>
              <span>Accounts</span></a>
          </li>
          <hr class="sidebar-divider">
        </div>
       
        </div>
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <div id="content-wrapper" class="d-flex flex-column">

      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
            <div id="content">
              <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                  <span class="mr-2 d-none d-lg-inline text-gray-600">Hi, {user}</span>
                  
                  <a class="btn" style="background: linear-gradient(to right, rgb(74, 86, 197),rgb(84, 79, 148));   color: white ;" href="../../logout.php"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout</a>
                </li>
            </div>
            </nav>
              <!-- /.container-fluid -->
    
        </ul>
      </nav>
      <div class="ml-3 mr-3">{content}</div>
    </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <input type="hidden" id="role_id1" value="{role_id10}">
  <input type="hidden" id="activepage" value="{activepage}">

</body>

</html>
  <!-- Bootstrap core JavaScript-->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../assets/js-bs4/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../assets/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../assets/js-bs4/demo/chart-area-demo.js"></script>
  <script src="../../assets/js-bs4/demo/chart-pie-demo.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<script src="https://cdn.tiny.cloud/1/kbya0q6inql340v03n8uibux8qrtns8dc7yzdjarlj8em2ep/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/classic/ckeditor.js"></script>
<script>
</script>
<style>
</style>
<script>
</script>

<!-- editor -->
<script>
  ClassicEditor
      .create( document.querySelector( '#editor' ) )
      .catch( error => {
          console.error( error );
      } );
</script>
<script>
  CKEDITOR.replace('editor', {
    // Pressing Enter will create a new <div> element.
    enterMode: CKEDITOR.ENTER_DIV,
    // Pressing Shift+Enter will create a new <p> element.
    shiftEnterMode: CKEDITOR.ENTER_P
  });
</script>
<!-- END: LAYOUT -->
